{% comment %} Identity/social rel=me links {% endcomment %}
<link rel="me" href="https://richielau.com" />
<link rel="me" href="https://studiorich.shop" />
<link rel="me" href="https://trackstar.nyc" />
<link rel="me" href="https://audiomack.com/studiorich" />
<link rel="me" href="https://studiorich.bandcamp.com" />
<link rel="me" href="https://www.beatport.com/artist/studiorich/1278105" />
<link rel="me" href="https://www.deezer.com/us/artist/294319151" />
<link
  rel="me"
  href="https://music.amazon.co.uk/artists/B0DQR9S993/studiorich"
/>
<link rel="me" href="https://music.apple.com/us/artist/studiorich/1785907828" />
<link
  rel="me"
  href="https://music.youtube.com/channel/UCvLh5_MPChww6fgXlsOG9qA"
/>
<link rel="me" href="https://music.youtube.com/@Studio-Rich" />
<link rel="me" href="https://www.mixcloud.com/studiorich" />
<link rel="me" href="https://www.musixmatch.com/artist/StudioRich" />
<link
  rel="me"
  href="https://www.pandora.com/artist/studiorich/ARZ563fvKk56m6Z"
/>
<link rel="me" href="https://open.spotify.com/artist/55NPQkvFCSFrE7eZuzlzqT" />
<link rel="me" href="https://soundcloud.com/studiorich" />
<link rel="me" href="https://tidal.com/browse/artist/studiorich" />
<link rel="me" href="https://www.twitch.tv/studiorich" />
<link rel="me" href="https://www.youtube.com/@Studio-Rich" />
<link rel="me" href="https://bsky.app/profile/studiorich.shop" />
<link rel="me" href="https://www.facebook.com/StudioRichNYC" />
<link rel="me" href="https://github.com/studiorxch" />
<link rel="me" href="https://www.instagram.com/_studiorich" />
<link rel="me" href="https://www.linkedin.com/in/richielau" />
<link rel="me" href="https://mastodon.social/@studiorich" />
<link rel="me" href="https://www.pinterest.com/StudioRichShop" />
<link rel="me" href="https://www.snapchat.com/add/studiorich" />
<link rel="me" href="https://www.threads.net/@_studiorich" />
<link rel="me" href="https://www.tiktok.com/@studio.rich" />
<link rel="me" href="https://www.tumblr.com/studiorich" />
<link rel="me" href="https://x.com/studiorxch" />
<link rel="me" href="https://ko-fi.com/studiorich" />
<link rel="me" href="https://patreon.com/StudioRich" />

{% comment %} Favicons {% endcomment %}
<link
  rel="icon"
  href="{{ '/assets/img/logos/favicon.ico' | relative_url }}"
  type="image/x-icon"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ '/assets/img/logos/apple-touch-icon.png' | relative_url }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ '/assets/img/logos/favicon-32x32.png' | relative_url }}"
/>

{% comment %} CSS + fonts {% endcomment %}
<link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">



<link
  href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@100,400;600;700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;1,100&display=swap"
  rel="stylesheet"
/>
