<!--_includes/_drawer.html -->
<button id="drawerToggle" class="drawer-btn">☰</button>

<nav id="drawer" class="drawer">
  <div class="drawer-bg"></div>
  <div class="drawer-overlay"></div>

  <ul>
    <li>
      <a href="https://goods.studiorich.shop">
        <!--<img class="nav-icon" src="/assets/ui/store.svg" alt="" />-->
        <span>Store</span>
      </a>
    </li>

    <li>
      <a href="/library">
        <!--<img class="nav-icon" src="/assets/ui/music-library.svg" alt="" />-->
        <span>Music Library</span>
      </a>
    </li>

    <li>
      <a href="/blog">
        <!--<img class="nav-icon" src="/assets/ui/blog-bubble.svg" alt="" />-->
        <span>Blog</span>
      </a>
    </li>
  </ul>
</nav>
